.primaryBtn,
.secondaryBtn {
  cursor: pointer;
  border-radius: 12px;
  padding: 5px 20px;
  font-size: 1.8rem;
  display: none;
}

@media screen and (max-width: 620px) {
  .primaryBtn,
  .secondaryBtn,
  .tertiaryBtn,
  .unitsBtn {
    font-size: 1.2rem;
  }
}

.primaryBtn {
  border: 2px solid $spaceBlue;
  min-width: 100px;
  color: $spaceBlue;
  white-space: nowrap;

  &:hover,
  &:active,
  &:focus,
  &.active-button {
    background-color: $spaceBlue;
    color: $pureWhite;
  }

  &--disabled {
    //background-color: #e0e0e0;

    //color: #888;
    color: red;
    //border-color: #bbb;
    cursor: not-allowed;
    pointer-events: none;
  }

}

@media screen and (max-width: 620px) {
  .primaryBtn,
  .unitsBtn {
    min-width: auto;
  }
}

.secondaryBtn {
  border: 2px solid $energicOrange;
  margin: 0 auto;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  min-width: 100px;
  color: $spaceBlue;

  &:hover,
  &:active,
  &:focus,
  &.active-button {
    background-color: $energicOrange;
    color: $pureWhite;
  }
}

/*
#stationSelector option:not([disabled]) {
  color: red;
  pointer-events: none;
  cursor: not-allowed;
}
*/

//#stationSelector .selectOption--disabled {
//color: #ffffff;
//}

/* Desactiva clic y hover para opciones deshabilitadas */
.selectOption--disabled {
  color: red;
  pointer-events: none; /* Evita cualquier interacción */
  cursor: not-allowed; /* Muestra un icono de prohibido */
}


.tertiaryBtn {
  border: 2px solid $spaceBlue;
  border-radius: 12px;
  padding: 5px 20px;
  min-width: 50px;
  color: $spaceBlue;
  white-space: nowrap;

  &:hover,
  &:active,
  &:focus,
  &.active-button {
    background-color: $spaceBlue;
    color: $pureWhite;
  }

    &--disabled {
    background-color: #e0e0e0;
    color: #888;
    border-color: #bbb;
    cursor: not-allowed;
    pointer-events: none; // Evita cualquier evento click
  }

}

.quaternaryBtn {
  border: 2px solid $spaceBlue;
  border-radius: 12px;
  padding: 5px 20px;
  min-width: 50px;
  color: $spaceBlue;
  white-space: nowrap;
  display: inline-block;
  margin: 0 auto;
  //font-size: 2.4rem;

  &:hover,
  &:focus {
    background-color: $spaceBlue;
    color: $pureWhite;
  }
}

.minuteSelectorPR {
    display: inline-flex;
    cursor: pointer;
    border-radius: 12px;
    padding: 5px 20px;
    font-size: 1.2rem;
    border: 2px solid $spaceBlue;
    min-width: 100px;
    color: $spaceBlue;
    white-space: nowrap;

  &:hover,
  &:focus {
    background-color: $spaceBlue;
    color: $pureWhite;
  }
}

.hourSelectorPR {
  display: none;

  @media screen and (max-width: 800px) {
    display: inline;
    cursor: pointer;
    border-radius: 12px;
    padding: 5px 20px;
    font-size: 1.4rem;
    border: 2px solid $spaceBlue;
    min-width: 100px;
    color: $spaceBlue;
    white-space: nowrap;
    text-align: center;
    text-align-last: center;

    &:hover,
    &:active,
    &:focus,
    &.active-button {
      background-color: $spaceBlue;
      color: $pureWhite;
    }
  }
}

.mapMessagePR {
  //margin-top:1em; 
  font-size: 1.8rem;
  //min-height:2em; 
  font-weight:600; 
  color: $spaceBlue;
  margin-top: 10px;

  @media screen and (max-width: 800px) {
    font-size: 1.2rem;
  }
}

.unitToggleBox {
  display: inline-flex;       
  align-items: center;      
  gap: 8px;                   
  justify-self: end;           
  margin-bottom: 10px;


  //margin: 0;       
  padding: 0;
  align-self: center;

  p {
    margin: 0;
    padding: 0;
    font-weight: 600;
  }
}

#toggleUnitBtn {
  padding: 4px 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid gray;
  cursor: pointer;
  justify-content: center;
}

.unitsBtn {
  cursor: pointer;
  border-radius: 12px;
  padding: 5px 20px;
  font-size: 1.8rem;

  border: 2px solid $spaceBlue;
  min-width: 100px;
  color: $spaceBlue;
  white-space: nowrap;

  &:hover,
  &:active,
  &:focus,
  &.active-button {
    background-color: $spaceBlue;
    color: $pureWhite;
  }

}

