.mapRTContainer {
  display: none;
  margin: 0 auto;
  margin-bottom: 20px;
  //margin-left: -5%;
  //width: fit-content;
  width: 100%; 
  max-width:2000px;
  border-radius: 5px;
}

#sphiMapRender {
  width: 100%; 
  height: auto;
}

#rotiMapRender {
  width: 100%;
  height: auto;
}

.grid-cell {
  stroke: rgba(211, 211, 211, 0.829);
  stroke-width: 0.1;
  stroke-dasharray: 2 2; // Lineas discontinuas
}

.marker {
  fill: red;
  stroke: black;
  stroke-width: 0.5;
}

// Container for status text and LED indicator
.statusBoxRealTime {
  margin-top: 8px;
  flex-wrap: wrap;
  //border: solid 2px red;
  margin-bottom: 8px;
  font-size: 0.9rem;
  color: #333;
  display: flex;
  align-items: center;
  gap: 8px;
}

// Base style for the LED circle
.statusLed {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: gray;
  display: inline-block;
  border: 1px solid #444;
  vertical-align: middle; 
  margin-bottom: 20px; 
  margin-left: 8px;
}

// LED status: OK 
.statusLed--ok {
  background-color: #2bf132;
}

// LED status: Error 
.statusLed--error {
  background-color: #f44336; 
}

.spanStatus {
  font-weight: bold;
  color: $spaceBlue;
}