.mapRTContainer {
  display: none;
  margin: 0 auto;
  margin-bottom: 20px;
  //margin-left: -5%;
  //width: fit-content;
  width: 100%; 
  max-width:2000px;
  border-radius: 5px;
}

#sphiMapRender {
  width: 100%; 
  height: auto;
}

#rotiMapRender {
  width: 100%;
  height: auto;
}

.grid-cell {
  stroke: rgba(211, 211, 211, 0.829);
  stroke-width: 0.1;
  stroke-dasharray: 2 2; // Lineas discontinuas
}

.marker {
  fill: red;
  stroke: black;
  stroke-width: 0.5;
}
