.chartContainer {
  width: 100%;
  height: 40vh;
  display: none;
  justify-content: center;
  align-items: center;
}

.chartIndex {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: auto;
}

.chartPRContainer {
  width: 100%;
  height: 40vh;
  display: none;
  justify-content: center;
  align-items: center;
}

.chartPRIndex {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: auto;
}

//#pastChart {
//width: 600px;
//height: 400px;
//margin: 20px auto;
//border: 1px solid #ccc;
//}


.mapLastUpdateText {
  margin-top: 0.5em;
  font-size: 2rem;
  font-weight: 500;
  color: $spaceBlue;
  text-align: center;
}

/*.alertConnection {
  color: #b00020;
  background-color: #ffecec;
  padding: 8px 12px;
  border: 1px solid #f5c2c7;
  border-radius: 6px;
  margin-top: 12px;
  font-size: 0.95rem;
}*/

.indexMessageAlert {
  margin-top: 0.5em;
  font-size: 2rem;
  font-weight: 500;
  color: $energicOrange;
  text-align: center;
}

.statusBoxRTIndex {
  display: flex;
  align-items: center;
  justify-content: flex-start; // <-- Esto empuja todo el contenido a la derecha
  gap: 12px;
  margin: 8px 0;
  gap: 35px; 
}

.statusPair {
  display: inline-flex;
  align-items: center;
  gap: 6px; // espacio entre texto y LED
}





/********************************************************
*                                                       *
*                 ESTILOS DEL CALENDARIO                 *
*                                                       *
********************************************************/

.recordsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__date {
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border: 2px solid $spaceBlue;
    border-radius: 12px;
    color: $spaceBlack;
    font-size: 1.8rem;

    //apariencia del calendario
    &::-webkit-calendar-picker-indicator {
      filter: invert(0.7) sepia(1) saturate(10) hue-rotate(180deg); //icono del calendario
      cursor: pointer;
    }

    &::-moz-calendar-picker-indicator {
      color: $spaceBlue;
      cursor: pointer;
    }

    &:hover {
      border-color: $energicOrange;
      background-color: $spaceBlue;
      color: $pureWhite;
    }

    &:focus {
      outline: none;
      border-color: $energicOrange;
      background-color: $spaceBlue;
      color: $pureWhite;
    }
  }
}

@media screen and (max-width: 620px) {
  .recordsBox__date {
    font-size: 1.2rem;
  }
}